# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/rmf_demos_ws
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# e2e artifacts
/e2e/soss.yaml

# colcon output
/thirdparty/build/
/thirdparty/install/
/thirdparty/log/