# storybook build process is broken, it does not follow the typical node package resolution.
# New peer deps causes `@storybook/addon-docs` to be put inside `@storybook/addon-essentials`, because
# of bad package resolution, storybook can't find the dependencies.
legacy-peer-deps = true

# pipenv is INCREDIBLY slow, this lets user know what it is sitll running.
foreground-scripts = true
