# storybook build process is broken, it does not follow the typical node package resolution.
# New peer deps causes `@storybook/addon-docs` to be put inside `@storybook/addon-essentials`, because
# of bad package resolution, storybook can't find the dependencies.
legacy-peer-deps = true

# pipenv can be INCREDIBLY slow, this lets user know what it is still running.
foreground-scripts = true

# make npm error out if version is not supported
engine-strict = true
