[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==22.6.0"
isort = "~=5.8"
pylint = "==2.10.2"
coverage = "~=5.5"
# api-server
api-server = {editable = true, path = "./packages/api-server"}
httpx = "~=0.26.0"
asyncpg = "~=0.25.0"
datamodel-code-generator = "==0.11.19"
requests = "~=2.25"
websocket-client = "~=1.2.3"
# ros-translator
ros-translator = {editable = true, path = "./packages/ros-translator"}

[requires]
python_version = "3.10"
