[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "==20.8b1"
isort = "~=5.8"
pylint = "~=2.7"
coverage = "~=5.5"
# api-server
api-server = {editable = true, path = "./packages/api-server"}
requests = "~=2.25"
# reporting-server
reporting-server = {editable = true, path = "./packages/reporting-server"}
# ros-translator
ros-translator = {editable = true, path = "./packages/ros-translator"}
task-scheduler = {editable = true, path = "./packages/task-scheduler"}


[requires]
python_version = "3.8"
