name: api-server
on:
  pull_request:
    paths:
      - '.github/workflows/api-server.yml'
      - '.github/actions/bootstrap/action.yml'
      - '.github/minimal-rmf/**'
      - 'packages/api-server/**'
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CI: true
  PIPENV_VERBOSITY: -1
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/${{ github.repository }}/minimal-rmf:rolling-nightly
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        shell: bash
        working-directory: packages/api-server
    steps:
      - uses: actions/checkout@v5
      - name: bootstrap
        uses: ./.github/actions/bootstrap
        with:
          package: api-server
          skip-build: true
      - name: tests
        run: |
          . /opt/ros/rolling/setup.bash
          pnpm run lint
          pnpm run test:cov -v
          ../../.venv/bin/python -m coverage xml
      - name: dependencies for codecov
        run: apt update && apt install git -y
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: api-server
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
