name: api-server
on:
  pull_request:
    paths:
      - 'packages/api-server/**'
  push:
    branches:
      - main
env:
  CI: true
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/e2e
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        shell: bash
        working-directory: packages/api-server
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: bootstrap
        run: |
          npm install -g npm@latest
          . /rmf_demos_ws/install/setup.bash
          scripts/bootstrap.sh api-server
        working-directory: .
      - name: tests
        run: |
          . /rmf_demos_ws/install/setup.bash
          npm run lint
          npm run test:cov
          python3 -m pipenv run python -m coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: api-server
