name: api-server
on:
  pull_request:
    paths:
      - '.github/workflows/api-server.yml'
      - 'packages/api-server/**'
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CI: true
  PIPENV_VERBOSITY: -1
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/${{ github.repository }}/minimal-rmf
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        shell: bash
        working-directory: packages/api-server
    steps:
      - uses: actions/checkout@v4
      - name: setup python
        run: apt update && apt install -y python3-venv python-is-python3
      - name: bootstrap
        uses: ./.github/actions/bootstrap
        with:
          package: api-server
      - name: tests
        run: |
          . /opt/rmf/setup.bash
          pnpm run lint
          pnpm run test:cov -v
          pipenv run python -m coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: api-server
