name: api-client
on:
  pull_request:
    paths:
      - '.github/workflows/api-client.yml'
      - '.github/actions/bootstrap/action.yml'
      - '.github/minimal-rmf/**'
      - 'packages/api-client/**'
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/minimal-rmf:rolling-nightly
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        shell: bash
        working-directory: packages/api-client
    steps:
      - uses: actions/checkout@v5
      - name: bootstrap
        uses: ./.github/actions/bootstrap
        with:
          package: api-client
      - name: lint
        run: pnpm run lint
      - name: test
        run: pnpm test
