name: Nightly
on:
  schedule:
    # 2am SGT
    - cron: '0 18 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-minimal-rmf-docker-images:
    name: Push minimal-rmf Docker image to GitHub Packages
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        ros_distribution: [jazzy, rolling]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push minimal-rmf
        uses: docker/build-push-action@v5
        with:
          push: true
          build-args: |
            ROS_DISTRO=${{ matrix.ros_distribution }}
          tags: ghcr.io/${{ github.repository }}/minimal-rmf:${{ matrix.ros_distribution }}-nightly
          context: .github/minimal-rmf
  build-dashboard-image:
    needs: build-minimal-rmf-docker-images
    name: Push Dashboard docker image to GitHub Packages
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        ros_distribution: [jazzy, rolling]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push demo-dashboard
        uses: docker/build-push-action@v5
        with:
          push: true
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository }}/minimal-rmf:${{ matrix.ros_distribution }}-nightly
            ROS_DISTRO=${{ matrix.ros_distribution }}
          tags: ghcr.io/${{ github.repository }}/demo-dashboard:${{ matrix.ros_distribution }}-nightly
          context: .github/demo-dashboard
  build-api-server-image:
    needs: build-minimal-rmf-docker-images
    name: Push API server docker image to GitHub Packages
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        ros_distribution: [jazzy, rolling]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push api-server
        uses: docker/build-push-action@v5
        with:
          push: true
          build-args: |
            ROS_DISTRO=${{ matrix.ros_distribution }}
            BASE_IMAGE=ghcr.io/${{ github.repository }}/minimal-rmf:${{ matrix.ros_distribution }}-nightly
          tags: |
            ghcr.io/${{ github.repository }}/api-server:${{ matrix.ros_distribution }}-nightly
            ${{ matrix.ros_distribution == 'rolling' && format('ghcr.io/{0}/api-server:latest', github.repository) || null}}
          context: .github/api-server
  # dashboard-e2e:
  #   strategy:
  #     matrix:
  #       npm: ['latest']
  #     fail-fast: false
  #   needs: build-docker-images
  #   name: Dashboard e2e
  #   runs-on: ubuntu-24.04
  #   container:
  #     image: ghcr.io/${{ github.repository }}/e2e
  #     options: --privileged --ipc=host
  #   defaults:
  #     run:
  #       shell: bash
  #       working-directory: packages/dashboard-e2e
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: bootstrap
  #       uses: ./.github/actions/bootstrap
  #       with:
  #         package: rmf-dashboard-e2e
  #         skip-build: true
  #     - name: test
  #       uses: nick-fields/retry@v2
  #       with:
  #         timeout_minutes: 20
  #         max_attempts: 3
  #         command: |
  #           . /rmf_demos_ws/install/setup.bash
  #           cd packages/dashboard-e2e
  #           pnpm test
  #         shell: bash
  #     - name: upload artifacts
  #       uses: actions/upload-artifact@v2
  #       if: always()
  #       with:
  #         name: artifacts
  #         path: packages/dashboard-e2e/artifacts
