name: Nightly
on:
  schedule:
    # 2am SGT
    - cron: '0 18 * * *'
jobs:
  build-docker-images:
    name: Push Docker images to GitHub Packages
    runs-on: self-hosted
    steps:
      - name: Chown user
        run: |
          chown -R $USER:$USER $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
      - name: Push e2e image to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          repository: ${{ github.repository }}/e2e
          tags: latest
          path: docker
  dashboard-e2e:
    strategy:
      matrix:
        npm: ['latest']
      fail-fast: false
    needs: build-docker-images
    name: Dashboard e2e
    runs-on: self-hosted
    container:
      image: ghcr.io/${{ github.repository }}/e2e
      options: --privileged --ipc=host
    defaults:
      run:
        shell: bash
        working-directory: packages/dashboard-e2e
    env:
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      BROWSERSTACK_BUILD: ${{ github.head_ref }}:${{ github.event.number }}
    steps:
      - uses: actions/checkout@v2
      - name: bootstrap
        uses: ./.github/actions/bootstrap
        with:
          package: rmf-dashboard-e2e
          skip-build: true
      - name: test
        run: |
          . /rmf_demos_ws/install/setup.bash
          pnpm test
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: artifacts
          path: packages/dashboard-e2e/artifacts
