name: react-components
on:
  pull_request:
    paths:
      - '.github/workflows/react-components.yml'
      - 'packages/react-components/**'
      - 'packages/rmf-models/**'
  push:
    branches:
      - main
env:
  CI: true
jobs:
  unit-tests:
    strategy:
      matrix:
        npm: ['latest']
      fail-fast: false
    name: Unit Tests (npm ${{ matrix.npm }})
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
        working-directory: packages/react-components
    env:
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      BROWSERSTACK_BUILD: ${{ github.head_ref }}:${{ github.event.number }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: bootstrap
        run: |
          pip3 install pipenv
          npm config set unsafe-perm
          npm install -g npm@${{ matrix.npm }}
          scripts/bootstrap.sh react-components
        working-directory: .
      - name: test build storybook
        run: npm run build:storybook
      - name: lint
        run: npm run lint
      - name: test
        run: npm run test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: react-components
