name: Reporting End-to-End
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # 2am SGT
    - cron: '0 18 * * *'
env:
  CI: true
jobs:
  e2e-tests:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    if: always()
    container:
      image: docker.pkg.github.com/open-rmf/rmf-web/e2e
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
      options: --privileged --ipc=host
    defaults:
      run:
        shell: bash
        working-directory: packages/reporting-e2e
    steps:
      - uses: actions/checkout@v2
      - name: bootstrap
        run: |
          . /opt/rmf/setup.bash
          npm config set unsafe-perm
          npm install -g lerna@4
          lerna bootstrap --scope=reporting-e2e
          docker pull quay.io/keycloak/keycloak:12.0.4
        working-directory: .
      - name: e2e test
        run: |
          . /opt/rmf/setup.bash
          npm test || npm test
        env:
          E2E_DOCKER_NETWORK: ${{job.container.network}}
          REACT_APP_AUTH_PROVIDER: keycloak
          # need to use the internal port because we are connecting from within the same network
          REACT_APP_KEYCLOAK_CONFIG: '{ "realm": "master", "clientId": "reporting", "url": "http://rmf-web_keycloak_1:8080/auth" }'
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: screenshots
          path: packages/reporting-e2e/artifacts
