name: Reporting End-to-End
on:
  pull_request:
  push:
    branches:
      - main
env:
  CI: true
jobs:
  reporting-e2e:
    strategy:
      matrix:
        npm: ['latest']
      fail-fast: false
    name: Reporting e2e (npm ${{ matrix.npm }})
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/${{ github.repository }}/e2e
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
      options: --privileged --ipc=host
    defaults:
      run:
        shell: bash
        working-directory: packages/reporting-e2e
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: bootstrap
        run: |
          npm install -g npm@${{ matrix.npm }}
          scripts/bootstrap.sh reporting-e2e
        working-directory: .
      - name: test
        run: npm test
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: artifacts
          path: packages/reporting-e2e/artifacts
