name: reporting
on:
  pull_request:
    paths:
      - 'packages/reporting/**'
      - 'packages/react-components/**'
      - 'packages/rmf-auth/**'
      - 'packages/rmf-models/**'
  push:
    branches:
      - main
env:
  CI: true
jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/e2e
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        shell: bash
        working-directory: packages/reporting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: bootstrap
        run: |
          . /rmf_demos_ws/install/setup.bash
          npm install -g npm@latest
          scripts/bootstrap.sh reporting
        working-directory: .
      - name: build
        run: npm run build:storybook && npm run build
      - name: unit test
        run: npm run test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: reporting
