name: ros-translator
on:
  pull_request:
    paths:
      - '.github/workflows/ros-translator.yml'
      - '.github/actions/bootstrap/action.yml'
      - '.github/minimal-rmf/**'
      - 'packages/ros-translator/**'
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CI: true
jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/${{ github.repository }}/minimal-rmf:rolling-nightly
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        shell: bash
        working-directory: packages/ros-translator
    steps:
      - uses: actions/checkout@v5
      - name: dependencies
        run: apt update && apt install ros-dev-tools -y
      - name: bootstrap
        uses: ./.github/actions/bootstrap
        with:
          package: ros-translator
      - name: test
        run: . /opt/ros/rolling/setup.bash && pnpm test
